h1{
    color: #CFCFCD;
    font-family: "oswald";
}

h2{
    color: #CFCFCD;
    font-family: "sonsie one";
}

h1, h2{
    padding-left: 30px;
}

body{
    background-color: #232321;

}

main{
    display: grid;
    height: 100%;
    grid-gap: 0px;
    padding: 0px;
    padding-left: 170px;

}

img{
    width: 100%;
    height: 33vh;   
    justify-content: center;
    text-align: center;
    border: 1px;
    border-bottom: 1px solid black;
    border-top: 1px dotted black;
    object-fit: cover;
    padding: 0px;
    
    
}
main{
    justify-content: center;
}
h3{
    background-color: white;
    padding-top: 5px;
    margin: 0;
    justify-content: center;
    padding-bottom: 5px;
    

}

.boats{
    background-image: url(assets/lake.jpg);
    display: block;
    object-fit: cover;
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    background-color: white;
    justify-content: end;
    border-bottom: 1px solid black;
    padding-top: 10px;
    
} 

.one{
    background-image: url(assets/lake.jpg);
    display: block;
    object-fit: cover;
    height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    background-color: white;
    justify-content: end;
    border-bottom: 1px solid black;
    padding-top: 10px;

}

.two{
    background-image: url(assets/lake.jpg);
    display: block;
    object-fit: cover;
    height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    background-color: white;
    justify-content: end;
    border-bottom: 1px solid black;
    padding-top: 10px;
}

@media only screen and (min-width: 600px) {

main{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80vw;
    justify-content: center;
    text-align: left;
    background-position: center;
    border-right: 1px solid;
    }
  
    h3{
        background-color: white;
        padding: 0px;
        border-right: 1px solid;
        text-pa
   
    }

}